@model ClinicalApp.Models.Patient_File
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="grids">
     <div>
         <div class="flex-shrink-0 p-3 bg-dark" style="width: 280px; height: 100%;">
    <a asp-controller="Home" asp-action="Index" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-5 fw-semibold btn btn-success">L.H.M.S</span>
      <br /> 
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <a asp-controller="Dashboard" asp-action="Index" class="btn btn-outline-light">
          Home
        </a>
      </li>
     </ul>
      <ul class="btn-toggle-nav text-dark list-unstyled fw-normal pb-1 small">
            <li><a asp-controller="UserRole" asp-action="Index" class="link-light rounded"><i class="bi bi-people-fill"></i>&nbsp;&nbsp;Employees</a></li>
            <li><a asp-controller="Patient" asp-action="Index" class="link-light rounded"><i class="bi bi-hospital"></i>&nbsp;&nbsp;Patients</a></li>
            <li><a asp-controller="Chronic_Desease" asp-action="Index" class="link-light rounded"><i class="fa fa-bed"></i>&nbsp;&nbsp;Patient on merdication in hospital</a></li>
            

            <li><a asp-controller="Paramedic" asp-action="Index" class="link-light rounded"><i class="fas fa-ambulance"></i>&nbsp;&nbsp;Paramedics</a></li>
            <li><a asp-controller="Doctors" asp-action="Index"  class="link-light rounded"><i class="fas fa-user-md"></i>&nbsp;&nbsp;Doctors</a></li>
            <li><a asp-controller="Admin" asp-action="Index"  class="link-light rounded"><i class="bi bi-person-workspace"></i>&nbsp;&nbsp;Admin</a></li>
            <li><a asp-controller="IT" asp-action="Index" class="link-light rounded"><i class="bi bi-laptop"></i>&nbsp;&nbsp;IT</a></li>
            <li><a asp-controller="HR" asp-action="Index" class="link-light rounded"><i class="bi bi-person-check-fill"></i>&nbsp;&nbsp;HR</a></li>
             <li><a asp-controller="Clearner" asp-action="" class="link-light rounded"><i class="fas fa-hands-wash"></i>&nbsp;&nbsp;Cleaner</a></li>
            <li><a asp-controller="Nurse" asp-action="Index" class="link-light rounded"><i class="fas fa-user-nurse"></i>&nbsp;&nbsp;Nurses</a></li>
            <li><a asp-controller="Doctors" asp-action="Create" class="link-light rounded"><i class="fas fa-user-plus"></i>&nbsp;&nbsp;Add a Doctor</a></li>
            <li><a asp-controller="Finance" asp-action="Index" class="link-light rounded"><i class="bi bi-cash-coin"></i>&nbsp;&nbsp;Finance</a></li>
            <li><a asp-controller="Manager" asp-action="Index" class="link-light rounded"><i class="bi bi-list-task"></i>&nbsp;&nbsp;Management</a></li>
            <li><a asp-controller="Porter" asp-action="Index" class="link-light rounded"><i class="fa-solid fa-skull-crossbones"></i>&nbsp;&nbsp;Porter</a></li>

            <li><a asp-controller="P_Hospital" asp-action="Index" class="link-light rounded"><i class="fa fa-bed"></i>&nbsp;&nbsp;Patient on merdication of hospital</a></li>
            <li><a asp-controller="InComplete" asp-action="Index" class="link-light rounded"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;&nbsp;Patientwho didnt complete treatment</a></li>
            <li><a asp-controller="PickUpMeds" asp-action="Index" class="link-light rounded"><i class="bi bi-collection-fill"></i>&nbsp;&nbsp;Collection</a></li>
             <li><a asp-controller="MaleWards" asp-action="Index" class="link-light rounded"><i class="fas fa-male"></i>&nbsp;&nbsp;Male Ward</a></li>
            <li><a asp-controller="FemaleWards" asp-action="Index" class="link-light rounded"><i class="fas fa-female"></i>&nbsp;&nbsp;Female Ward</a></li>
            <li><a asp-controller="MetinityWard" asp-action="Index" class="link-light rounded"><i class="fas fa-baby"></i>&nbsp;&nbsp;Metinity Ward</a></li>
           
             

       
      <li class="border-top my-3"></li>
     @* <li class="mb-1">
        <button class="btn btn-toggle align-items-center bg-danger text-light rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          Account
        </button>
        <div class="collapse" id="account-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-light rounded">Profile</a></li>
            <li><a href="#" class="link-light rounded">Settings</a></li>
            <li><partial name="_LoginPartial" /></li>
          </ul>
        </div>
      </li>*@
    </ul>
  </div>
     </div>

<div class="container-md">
     <h1><u>Medical File OF: <span>@Html.DisplayFor(model => model.PatientFirstName) @Html.DisplayFor(model => model.PatientLastName)</span></u></h1>
     <hr style="border: 2px dotted red;"/>
    <header>
		<hr id="thread1">
		<hr id="thread2">
		<hr id="thread3" class="right">
		<hr id="thread4">
		<hr id="thread5" class="right">
		<hr id="thread6">
</header>
   <div class="row">
       <div class="col-md-4">
            <div class="details">
        <div class="grids">
            <div>
                <img src="@Html.DisplayFor(model => model.Image)" style="width: 460px; height: 400px;" />
        <div class="layer">
            <h2>Doctor @Html.DisplayFor(model => model.DoctorFirstName) @Html.DisplayFor(model => model.DoctorLastName)</h2>
        </div>
        </div>
         </div>
       </div>
       </div>
     <div class="header">
        <u>
            <h1>@Html.DisplayFor(model => model.DoctorFirstName) @Html.DisplayFor(model => model.DoctorLastName)</h1></u>
                        <h5>Doctor's Information</h5>
             <b class="text-danger">Doctor Email</b>
             <u class="u us" style="margin-left: 7%;">@Html.DisplayFor(model => model.DoctorEmail)</u> <br />
             <b class="text-danger">Doctor Home address</b>
             <u class="u us">@Html.DisplayFor(model => model.DoctorAddress)</u><br>
             <b class="text-danger">Doctor's Phone Number</b>
             <u class="u">@Html.DisplayFor(model => model.DoctorPhoneNumber)</u><br />
             <b class="text-danger">Doctor's Department</b>
             <u class="u">@Html.DisplayFor(model => model.DoctorDepartmetment)</u>
      </div>
   </div>
  <hr style="border: 10px solid green;
  border-radius: 5px;"/>
  <h1><u>Patient File Information</u></h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h5><u><i>Patient Personal Information</i></u></h5>
            <strong>Patient First Name: </strong>
            <input type="text" style="margin-left: 7.5%;" disabled value="@Html.DisplayFor(model => model.PatientFirstName)" /> <br /> 
            <strong>Patient Last Name:</strong>
            <input type="text" style="margin-left: 8%;" disabled value="@Html.DisplayFor(model => model.PatientLastName)" /> <br />
            <strong>Patient Birth Day: </strong>
            <input type="text" style="margin-left: 9%;" disabled value="@Html.DisplayFor(model => model.DateOfBirth)" /> <br />
            <strong>Patient Birth Id: </strong>
            <input type="text" style="margin-left: 11%;" disabled value="@Html.DisplayFor(model => model.BirthId)" /> <br />  <br />
               <div class="form-group">
                 <h5><u><i>Contact Information</i></u></h5>
                 <strong>Email Address: </strong>
                <input type="text" style="margin-left: 7%;" disabled value="@Html.DisplayFor(model => model.EmailAddress)" /> <br /> 
                <strong>Phone Number:</strong>
                <input type="text" disabled value="@Html.DisplayFor(model => model.PhoneNumber)" /> <br />
                <strong>Address: </strong>
                <input type="text" style="margin-left: 14%;" disabled value="@Html.DisplayFor(model => model.HomeAddress)" /> <br />
            </div>
        </div>
        <div class="col-md-6">
            <h5><u><i>Health Information</i></u></h5>
             <strong>Diagnosis: </strong>
           @* <input type="text" style="margin-left: 18.5%;" disabled value="@Html.DisplayFor(model => model.Diagnosis)" /> <br /> *@
            <strong>Benefit of treatment:</strong>
            <input type="text" style="align-items: center;" disabled value="@Html.DisplayFor(model => model.BenefitOfTreatment)" /> <br />
            <strong>Risks of treatment: </strong>
            <input type="text" style="margin-left: 8.5%;" disabled value="@Html.DisplayFor(model => model.RiskOfTreatment)" /> <br />
            <strong>Start of tretment</strong>
            <input type="text" style="margin-left: 11%;" disabled value="@Html.DisplayFor(model => model.StartOfTreatment)" /> <br />
            <strong>End Of Treatment</strong>
            <input type="text" style="margin-left: 11%;" disabled value="@Html.DisplayFor(model => model.EndOfTreatment)" /> <br />
            <strong>Patient status of illness</strong>
            <input type="text" style="margin-left: 4.5%;" disabled value="@Html.DisplayFor(model => model.PatientStatus)" /> <br />
            <strong>Infectection</strong>
            <input type="text" style="margin-left: 18%;" disabled value="@Html.DisplayFor(model => model.Infection)" /> <br />
            <strong>Illness</strong>
            <input type="text" style="margin-left: 25%;" disabled value="@Html.DisplayFor(model => model.RecoveryChances)" /> <br />
            <strong>Recommended Treatment</strong>
            <input type="text" style="margin-left: 1%;" disabled value="@Html.DisplayFor(model => model.RecommendedTreatment)" /> <br />
            <strong>Success of recovery if treatment taken</strong>
            <input type="text" style="margin-left: 1%;" disabled value="@Html.DisplayFor(model => model.SuucessOfRecoveryIftreatmentTaken)" /><br /><br />
        </div>
        <hr />
         <div class="col-md-6">
            <h5><u><i>Treatment History</i></u></h5>
             <strong>Chief of complains: </strong>
            <input type="text" style="margin-left: 9.5%;" disabled value="@Html.DisplayFor(model => model.ChiefComplains)" /> <br /> 
            <strong>History of Illnesst:</strong>
            <input type="text" style="margin-left: 10.5%;" disabled value="@Html.DisplayFor(model => model.BenefitOfTreatment)" /> <br />
            <strong>Vital Signes: </strong>
            <input type="text" style="margin-left: 17.5%;" disabled value="@Html.DisplayFor(model => model.VitalSigns)" /> <br />
            <strong>Physical Examination</strong>
            <input type="text" style="margin-left: 7%;" disabled value="@Html.DisplayFor(model => model.PhysicalExamination)" /> <br />
            <strong>Surgeical History</strong>
            <input type="text" style="margin-left: 11.5%;" disabled value="@Html.DisplayFor(model => model.SurgicalHistory)" /> <br />
            <strong>Obstetric History</strong>
            <input type="text" style="margin-left: 11.5%;" disabled value="@Html.DisplayFor(model => model.ObstetricHistory)" /> <br />
            <strong>Medical Allegies</strong>
            <input type="text" style="margin-left: 12%;" disabled value="@Html.DisplayFor(model => model.MedicalAllegies)" /> <br />
            <strong>Development History</strong>
            <input type="text" style="margin-left: 6%;" disabled value="@Html.DisplayFor(model => model.DevelopmentHistory)" /> <br />
            <strong>Immunization History</strong>
            <input type="text" style="margin-left: 5%;" disabled value="@Html.DisplayFor(model => model.ImmunizationHistory)" /> <br />
        </div>
         <div class="col-md-6">
            <h5><u><i>Medications</i></u></h5>
             <strong>Medication Name: </strong>
            <input type="text" style="margin-left: 12.5%;" disabled value="@Html.DisplayFor(model => model.MedicationName)" /> <br /> 
            <strong>type Of Medication:</strong>
            <input type="text" style="margin-left: 10.5%;" disabled value="@Html.DisplayFor(model => model.TypeOfMedication)" /> <br />
            <strong>Symptoms: </strong>
            <input type="text" style="margin-left: 21%;" disabled value="@Html.DisplayFor(model => model.Symptoms)" /> <br />
            <strong>Medication For?</strong>
            <input type="text" style="margin-left: 15%;" disabled value="@Html.DisplayFor(model => model.MedicationFor)" /> <br />
            <strong>Start Time of  Medication</strong>
            <input type="text" style="margin-left: 4%;" disabled value="@Html.DisplayFor(model => model.StartTime)" /> <br />
            <strong>Duration of medication to be taken</strong>
            <input type="text" style="margin-left: 1%;" disabled value="@Html.DisplayFor(model => model.DurationOfMedication)" /> <br /><br />
        </div>
        <hr />
         <div class="col-md-4">
            <h5><u><i>Payment Information</i></u></h5>
             <strong>Subscriber Payer: </strong>
            <input type="text" style="margin-left: 12.5%;" disabled value="@Html.DisplayFor(model => model.SubscriberName)" /> <br /> 
            <strong>Phone Number:</strong>
            <input type="text" style="margin-left: 15.5%;" disabled value="@Html.DisplayFor(model => model.PhoneNumber)" /> <br />
            <strong>Home Address: </strong>
            <input type="text" style="margin-left: 17%;" disabled value="@Html.DisplayFor(model => model.Address)" /> <br />
            <strong>Amount Owe: </strong>
            <input type="text" style="margin-left: 19%;" disabled value="@Html.DisplayFor(model => model.AmountOwe)" /> <br />
            <strong>Amount Payed: </strong>
            <input type="text" style="margin-left: 16%;" disabled value="@Html.DisplayFor(model => model.AmountPayed)" /> <br />
            <strong>Payment Method: </strong>
            <input type="text" style="margin-left: 11%;" disabled value="@Html.DisplayFor(model => model.MethodOfPayement)" /> <br />
            <strong>Relationship</strong>
            <input type="text" style="margin-left: 22%;" disabled value="@Html.DisplayFor(model => model.RelationShipToThePatient)" /> <br />
        </div>
         <div class="col-md-4">
            <h5><u><i>Habits</i></u></h5>
             <strong>Smoking: </strong>
            <input type="text" style="margin-left: 30%;" disabled value="@Html.DisplayFor(model => model.Smoking)" /> <br /> 
            <strong>Drug Abuse:</strong>
            <input type="text" style="margin-left: 24%;" disabled value="@Html.DisplayFor(model => model.DrugUse_Abuse)" /> <br />
            <strong>Excercise: </strong>
            <input type="text" style="margin-left: 30%;" disabled value="@Html.DisplayFor(model => model.Excercise)" /> <br />
            <strong>Alcohol Intake</strong>
            <input type="text" style="margin-left: 19.5%;" disabled value="@Html.DisplayFor(model => model.AlcoholIntake)" /> <br />
            <strong>Diet</strong>
            <input type="text" style="margin-left: 40%;" disabled value="@Html.DisplayFor(model => model.Diet)" /> <br />
        </div>
         <div class="col-md-4">
            <h5><u><i>Medical records</i></u></h5>
             <strong>Present Diagnosis: </strong>
            <input type="text" style="margin-left: 12.5%;" disabled value="@Html.DisplayFor(model => model.PresentDiagnisis)" /> <br /> 
            <strong>PastDiagnosis:</strong>
            <input type="text" style="margin-left: 19%;" disabled value="@Html.DisplayFor(model => model.PastDiagnosis)" /> <br />
            <strong>Medical Care: </strong>
            <input type="text" style="margin-left: 21%;" disabled value="@Html.DisplayFor(model => model.MedicalCare)" /> <br />
            <strong>Treatment</strong>
            <input type="text" style="margin-left: 27%;" disabled value="@Html.DisplayFor(model => model.Treatment)" /> <br />
            <strong>Allegies</strong>
            <input type="text" style="margin-left: 47%;" disabled value="@Html.DisplayFor(model => model.Allegies)" /> <br />
        </div>
    </div> <br />
    <hr style="border: 10px solid red;
  border-radius: 5px;"/>
    <div class="row" style="text-align: center; align-content: center; align-items: center; justify-content: center;">
        <div class="col-md-10">
          <h5><u><i>Work Information</i></u></h5>
             <strong>Company Name: </strong>
            <input type="text" style="margin-left: 10%;" disabled value="@Html.DisplayFor(model => model.CompanyName)" /> <br /> 
            <strong>Company Address:</strong>
            <input type="text" style="margin-left: 8%;" disabled value="@Html.DisplayFor(model => model.CompanyAddress)" /> <br />
            <strong>Company Contact Number: </strong>
            <input type="text" style="margin-left: 2%;" disabled value="@Html.DisplayFor(model => model.CompanyContactNumber)" /> <br />
            <strong>Management</strong>
            <input type="text" style="margin-left: 12%;" disabled value="@Html.DisplayFor(model => model.ManagerName)" /> <br />
            <strong>Manager Email</strong>
            <input type="text" style="margin-left: 10%;" disabled value="@Html.DisplayFor(model => model.ManagerEmail)" /> <br />
            <strong>Occupation</strong>
            <input type="text" style="margin-left: 12%;" disabled value="@Html.DisplayFor(model => model.Occupation)" /> <br />
        </div>
    </div>
   <a asp-action="Index" class="btn btn-danger form-control">Back</a>
</div>
</div>
