@model ClinicalApp.Models.Doctor

@{
    ViewData["Title"] = "Edit";
}

<style>

    .top{
        background-image: url("https://www.pngitem.com/pimgs/m/514-5144318_doctor-group-images-png-transparent-png.png");
        background-size: cover;
        height: 90vh;
        width: 100%;
    }

    .test{
        padding: 10%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .row{
      margin: 0 10%;
      margin-top: 5%;
    }

    .modal{
       margin-left: -90px;
    }

    .space{
        background-color: whitesmoke;
        color: #1d1d11;
        border: 2px solid orangered;
        margin-top: 25%;
        border-radius: 15px;
    }

    #header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 80px;
        z-index: 99;
        position: sticky;
        top: 0;
        left: 0;
    }

    #navbar{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo{
        font-size: 2.3rem;
        color: blue;
        text-decoration: none;
    }

    #navbar li{
        list-style: none;
        padding: 0 20px;
        position: relative;
    }

    .logo:hover{
        color: maroon;
    }

    #navbar li a {
        text-decoration: none;
        font-size: 1.5em;
        font-weight: 700;
        color: blue;
        transition: 0.3s ease;
    }
    #navbar li a:hover,
    #navbar li a.active{
        color: maroon;
    }


    #navbar li a:hover::after,
    #navbar li a.active::after{
        content: "";
        width: 30%;
        height: 3px;
        background-color: maroon;
        position: absolute;
        bottom: -5px;
        left: 20px;
    }

    .register{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}

.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }

img{
    height: 125px;
    width: 125px;
    border-radius: 50px;
}

.grids{
    display: flex;
}
</style>


 <div class="grids">
     <div>
         <div class="flex-shrink-0 p-3 bg-info" style="width: 280px; height: 100%;">
    <a asp-controller="Home" asp-action="Index" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-5 fw-semibold btn btn-success">L.H.M.S</span>
      <br /> 
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <a asp-controller="Dashboard" asp-action="Index" class="btn btn-outline-danger">
          Home
        </a>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          Dashboard
        </button>
        <div class="collapse" id="dashboard-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a asp-controller="UserRole" asp-action="Index" class="link-dark rounded">Employees</a></li>
            <li><a asp-controller="Patient" asp-action="Index" class="link-dark rounded">Patients</a></li>
            <li><a  class="link-dark rounded">Patient on merdication in hospital</a></li>
            <li><a  class="link-dark rounded">Patient on merdication of hospital</a></li>
          </ul>
        </div>
      </li>
       <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#bookings-collapse" aria-expanded="false">
          Bookings
        </button>
        <div class="collapse" id="bookings-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a  class="link-dark rounded">Medication</a></li>
            <li><a  class="link-dark rounded">To See a Doctor</a></li>
            <li><a  class="link-dark rounded">To See a Speciality</a></li>
            <li><a  class="link-dark rounded">To See a patient</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#ward-collapse" aria-expanded="false">
          Our Wards
        </button>
        <div class="collapse" id="ward-collapse">
           <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a  class="link-dark rounded">Children</a></li>
            <li><a  class="link-dark rounded">Metinity</a></li>
            <li><a  class="link-dark rounded">Men</a></li>
            <li><a  class="link-dark rounded">Woman</a></li>
            <li><a  class="link-dark rounded">psyc</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#role-collapse" aria-expanded="false">
          Our Roles
        </button>
        <div class="collapse" id="role-collapse">
           <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a asp-controller="Paramedic" asp-action="Index" class="link-dark rounded">Paramedics</a></li>
            <li><a asp-controller="Admin" asp-action="Index"  class="link-dark rounded">Doctors</a></li>
            <li><a asp-controller="Doctors" asp-action="Index" class="link-dark rounded">Administration</a></li>
            <li><a asp-controller="IT" asp-action="Index" class="link-dark rounded">IT</a></li>
            <li><a asp-controller="HR" asp-action="Index" class="link-dark rounded">HR</a></li>
             <li><a asp-controller="Clearner" asp-action="" class="link-dark rounded">Cleaner</a></li>
            <li><a asp-controller="Nurse" asp-action="Index" class="link-dark rounded">Nurses</a></li>
            <li><a asp-controller="Doctors" asp-action="Create" class="link-dark rounded">Add a Doctor</a></li>
            <li><a asp-controller="Finance" asp-action="Index" class="link-dark rounded">Finance</a></li>
            <li><a asp-controller="Management" asp-action="Index" class="link-dark rounded">Management</a></li>
            <li><a asp-controller="Porter" asp-action="Index" class="link-dark rounded">Porter</a></li>
          </ul>
        </div>
      </li>
      <li class="border-top my-3"></li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          Account
        </button>
        <div class="collapse" id="account-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">Profile</a></li>
            <li><a href="#" class="link-dark rounded">Settings</a></li>
            <li><partial name="_LoginPartial" /></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
     </div>
<div class="top">
    
    <div class="test">
        <div class="space col-md-12" style="margin-right: 25px;">
          <h2 style="padding: 15px;">Hello Doctor <span class="text-danger">@Model.DoctorFirstName @Model.DoctorLastName</span></h2>
          <p style="padding: 15px;">For security purpose, please be sure that you are editing your own information, no one should be allowed to adit other doctor's information <mark>We are very delightful to have you as our doctor.</mark></p>
          <p></p>
          </a>
        </div>
          <div class="space col-md-12" style="margin-left: 25px;">
          <h2 style="padding: 15px;" class="text-danger">@Model.DoctorFirstName @Model.DoctorLastName</h2>
          <p style="padding: 15px;">This page is an editable page only for doctor <b class="text-danger">@Model.DoctorFirstName @Model.DoctorLastName</b> whom He/She is in <b class="text-danger">@Model.DoctorDepartmetment</b> Department</p>
          <p></p>
          </a>
        </div>
    </div>



<div class="container">

</div>


<div class="register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Welcome Doctor @Model.DoctorFirstName @Model.DoctorLastName</h3>
                        <p>Please do check if the information is correct and it point to you. Do not edit other people's information</p>
                        <input type="submit" name="" value="Edit Doctor"/><br/>
                    </div>
                    <div class="col-md-9 register-right">
                        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Doctor</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Nurse</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading"></h3>
                                <div class="row register-form">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <img src="@Model.Image" style="width:145px; height:125px; border-radius: 25px; box-shadow: 10px 15px 15px maroon; margin-bottom: 35px;"/> <br />
                                                <form asp-action="Edit" enctype="multipart/form-data">
                                                    <input asp-for="DoctorId" hidden>
                                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                    <input type="hidden" asp-for="DoctorId" />
                                                    <div class="form-group">
                                                        <b><label asp-for="DoctorFirstName" class="control-label"></label></b>
                                                        <input asp-for="DoctorFirstName" class="form-control text-danger" />
                                                        <span asp-validation-for="DoctorFirstName" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <b><label asp-for="DoctorLastName" class="control-label"></label></b>
                                                        <input asp-for="DoctorLastName" class="form-control text-danger" />
                                                        <span asp-validation-for="DoctorLastName" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <b><label asp-for="DoctorEmail" class="control-label"></label></b>
                                                        <input asp-for="DoctorEmail" class="form-control text-danger" />
                                                        <span asp-validation-for="DoctorEmail" class="text-danger"></span>
                                                    </div>
                                                        <div class="form-group">
                                                        <b><label asp-for="DoctorAddress" class="control-label"></label></b>
                                                        <textarea asp-for="DoctorAddress" class="form-control text-danger"></textarea>
                                                        <span asp-validation-for="DoctorAddress" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label asp-for="DoctorPhoneNumber" class="control-label"></label>
                                                        <input asp-for="DoctorPhoneNumber" class="form-control text-danger" />
                                                        <span asp-validation-for="DoctorPhoneNumber" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <b><label asp-for="DoctorDepartmetment" class="control-label"></label></b>
                                                       <b> <input asp-for="DoctorDepartmetment" class="form-control text-danger" /></b>
                                                        <span asp-validation-for="DoctorDepartmetment" class="text-danger"></span>
                                                    </div> 
                                                    <div class="form-group">
                                                        <b><label asp-for="Image" class="control-label"></label></b>
                                                       <b> <input asp-for="Image" class="form-control text-danger" /></b>
                                                        <span asp-validation-for="Image" class="text-danger"></span>
                                                    </div>
                                                   
                                                    <div class="form-group">
                                                        <input type="submit" onclick="Button()" value="Save" class="btn btn-primary" />
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
<hr />

<div>
    <a asp-action="Index" class="btn btn-danger">Back to List</a>
</div>
</div>
</div>

@section Scripts {
    <script>
//       function Button() {
//            Swal.fire({
//          title: 'Do you want to save the changes?',
//          showDenyButton: true,
//          showCancelButton: true,
//          confirmButtonText: 'Save',
//          denyButtonText: `Don't save`,
//        }).then((result) => {
//          /* Read more about isConfirmed, isDenied below */
//          if (result.isConfirmed) {
//            Swal.fire('Saved!', '', 'success')
//          } else if (result.isDenied) {
//            Swal.fire('Changes are not saved', '', 'info')
//  }
//})
       }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

