@model ClinicalApp.Models.DoctorPrescription

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DoctorPrescription</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorDepartmetment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorDepartmetment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Frequency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Frequency)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
