@model ClinicalApp.Models.DoctorPrescription

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DoctorPrescription</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorDepartmetment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorDepartmetment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Frequency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Frequency)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
